{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - {{ L('category_CATEGORIES') }}{% endblock %}
{% block header_title %}{{ L('category_CATEGORIES') }}{% endblock %}
{% block header_description %}{% endblock %}
{% block body %}
    {{ getHTMLSessionInfo() | raw }}

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{ L('category_CATEGORIES') }}</h3>
            <button class="btn btn-primary pull-right" onclick="addCategory()">Ajouter une catégorie</button>
        </div>
        <div class="box-body">
            <div id="tree"></div>
        </div>
    </div>

    <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Catégorie</h4>
                </div>
                <form method="POST">
                    <div class="modal-body">
                        <input type="hidden" name="id" id="categoryId" value="">
                        <div class="form-group">
                            <label for="name">Nom de la catégorie</label>
                            <input type="text" class="form-control" name="name" id="categoryName" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Description de la catégorie</label>
                            <input type="text" class="form-control" name="description" id="categoryDescription" value="">
                        </div>
                        <div class="form-group">
                            <label for="categoryParent">Catégorie parente</label>
                            <select name="parent" id="categoryParent" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Sauvegarder</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        $(function() {
            $('#tree').treeview({data: {{ nodesCategories | raw }}});

        });

        let categories = {{ categories | raw }};
        let categoriesList = {{ categoriesList | raw }};

        function editCategory(id) {
            $('#categoryId').val(id);
            $('#categoryName').val(categories[id].name);
            $('#categoryDescription').val(categories[id].description);
            let select = $('#categoryParent');

            // Update categories list
            select.find('option').remove();
            select.append('<option value="">Aucun</option>');

            categoriesList.map(function(item) {
                if(item.parents.map(function(item) { return parseInt(item); }).indexOf(id) !== -1) return;
                select.append('<option value="' + item.id + '">' + item.text + '</option>');
            });

            console.log(categories[id]);

            select.val(categories[id].parent);


            $('#categoryParent').selectize({
                allowEmptyOption: true
            });
            $('#categoryModal').modal();

            return false;
        }

        function addCategory(id) {
            $('#categoryId').val();
            $('#categoryName').val();
            $('#categoryDescription').val();
            $('#categoryParent').val();

            let select = $('#categoryParent');

            // Update category list
            select.find('option').remove();
            select.append('<option value="">Aucun</option>');

            categoriesList.map(function(item) {
                select.append('<option value="' + item.id + '">' + item.text + '</option>');
            });

            if(id != null) {
                select.val(id);
            }

            select.selectize({
                allowEmptyOption: true
            });
            $('#categoryModal').modal();

            return false;
        }

        function deleteCategory(id) {
            Swal({
                title: 'Suppression d\'une catégorie',
                text: 'Voulez-vous vraiment supprimer cette catégorie ?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Supprimer',
                cancelButtonText: 'Annuler'
            }).then((result) => {
                if (result.value) {
                    let form = $('<form method="post" action="{{ path('categories.delete') | escape('js') }}">' +
                        '<input type="text" name="id" value="' + id + '" />' +
                        '</form>');
                    $('body').append(form);
                    form.submit();
                }
            });

            return false;
        }
    </script>

{% endblock %}